/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

html.hotwire-native h1 {
  display: none;
}

[data-bridge-components~="submit-button"]
[data-controller~="bridge--submit-button"],
[data-bridge-components~="cancel-button"]
[data-controller~="bridge--cancel-button"] {
  display: none;
}

html.hotwire-native .hide-on-native {
  display: none;
}
